<!DOCTYPE html>
{% extends 'hotelapp/base.html' %}
  {% block body_block %}
  {% load static %}
  <head>
      <title>Booking List</title>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static "css/booking_list_view.css" %}">
    </head>
    
    <body>
        <div class="content">
            <div class="header">
                <div class="headings">
                    <h1>Your bookings</h1>
                    <h2>Welcome dear {{user}}</h2>
                </div>

                <div class="home"></div>
                    <!-- DIV 1 : Bacak To Home -->
                        <div class="home">
                            <a href="/room_list"><i class="fa fa-arrow-circle-left">Home</i></a>
                        </div>
                </div>
            </div>
                
            <div class="bookings">
                {% for booking in booking_list %}
                <div class="booking">
                    <img src="https://images.unsplash.com/photo-1562133567-b6a0a9c7e6eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhvdGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="category">
                        <h2>{{booking.get_room_category}} Suite</h2>
                    </div>
                    <div class="from">
                        <h3>From: {{booking.check_in}}</h3>
                    </div>
                    <div class="to">
                        <h3>To: {{booking.check_out}}</h3>
                    </div>
                    <div class="beds">
                        <h3>Beds: {{booking.room.beds}}</h3>
                    </div>
                    <div class="capacity">
                        <h3>Capacity: {{booking.room.capacity}}</h3>
                    </div>
                    <div class="cancel">
                        <a href="{{booking.get_cancel_booking_url}}" class="invisible"><i class="fa fa-times-circle"> Cancel Booking </i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
                
        </div>
    </body>
{% endblock %}